@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,300&family=Open+Sans:ital,wght@0,800;1,300;1,600&family=Roboto+Condensed:wght@300&family=Shizuru&display=swap');


* html,body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;

}



 /*//////////////////////     Menu           ////////////////*/

#head_menu{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 5%;
}


.container_nav{
    position: fixed;
    z-index: 10;
    margin-top: 0%;
    padding-top: 0%;
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: -2px 8px 15px 5px rgba(158, 158, 158, 0.42);-moz-box-shadow: -2px 8px 15px 5px rgba(158, 158, 158, 0.42);box-shadow: -2px 8px 15px 5px rgba(158, 158, 158, 0.42);
    
}
.container_options{
    padding: 0%;
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content:space-evenly;
}

#container_icon_menu{
    width: 0px;
    overflow: hidden;
}
.container_options > li > img{
    height:0px;
    width: 0px;

}





 /*//////////////////////     Primera section           ////////////////*/
.conteiner_intro{
   /*background-color: #fff2ff;*/
    
    padding-right: 5px;
    padding-bottom: 20px;
    background-color:#ebaf8688;
    display: flex;
    flex-direction: row;

    

}

.conteiner_intro_img{
    display: flex;
    align-items: center;
}
.conteiner_intro_img > img {

    height: 30vw;
}

.container_text{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information > h1{
    width: 70%;
    display: flex;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: #665a52;
}

.information > p{
    padding: 3%;
    font-size: 25px;
}
.container_emprendedoras > h3{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container_cards_person{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.cards_person{
    width: 40%;
    height: 40%;
    background-color: #fff;
    border-radius: 25px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cards_person > div{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}
.cards_person > div > img {

    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;

}
#person_information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ondas_1{
    margin-top: -5px;
    overflow: hidden;
}
.ondas_1 > img {

    width: 100vw;
    
    
}





 /*//////////////////////     Seguda section           ////////////////*/
 
.container_lineamientos{
    width: 100%;
    background-image: url("../img/wallpaper.jpg");
    background-repeat: repeat-y;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -22%;
}

.title_3{
    font-size: 25px;
    background-color: #665a52;
    padding: 10px;
    padding-bottom: 0px;
    color: #fff;
}

 .container_m_v{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    padding-top: 17%;
 }

 .mision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f4d4be;
    box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
    border-radius: 5px;
    height: 40%;
    width: 100%;
 }



 .mision > img {
    height: 30%;
    width: 30%;
 }

 .vision{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f4d4be;
    height: 40%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
 }

 .vision > img {
    height: 30%;
    width: 30%;
 }

 .container_objetivos{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    background-color:#f4d4be;
    box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
    border-radius: 5px;
 }
 .container_objetivos > div{
    display: flex;

 }


.container_cards_objetivos{
    height: 40vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.cards_objetivos{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top:10px;
    padding: 10px;
}
.cards_objetivos > h2 {
    color: #fff;
    height: 50px;
    width: 50px;
    background-color: #665a52;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}














 /*//////////////////////     Productos           ////////////////*/

.ondas_2{
    margin-top: 120px;
    transform: rotateY(180deg);
}

.swiper {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.swiper-slide{
    background-color: #bf738b;
}
:root{--swiper-theme-color: black !important}




















  /*//////////////////////     emprendedoras          //////////////////*/

















   /*//////////////////////     footer           ////////////////*/
footer{
    width: 100%;
    overflow: hidden;
    padding: 0%;
}
.ondas{
    padding: 0%;
    margin: 0%;
    width: 100vw;
    overflow: hidden;
}
.ondas > img{
    width: 100%;
    height: 20vh;
}

.footer_information{
    padding: 0%;
    margin-top: -2%;
    background-color:#665a52;
    height: 20vh;
    width: 100%;
    overflow: hidden;
}










 /*//////////////////////     media queri mobile           ////////////////*/




@media screen and (max-width:560px) {

    html,body{
        padding: 0%;
        margin: 0%;
    }

 /*//////////////////////     Menu           ////////////////*/


    .title_menu.click {
        width: 0px;
        height: 0px;
        overflow:hidden;
    }
    .container_nav{
        display: flex;
        flex-direction: column;
        padding: 0%;  
        margin: 0%;
        padding-left: 2%;
       
    }
    .container_nav .click{
        padding-bottom:100vh ;
        
    }

    .container_options{
        transform: translateY(-150%);
        padding: 0px;
        list-style: none;
        margin: 0px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 115vw;
 
    }

    .container_options > li > img{
        height: 30vh;
        width: 30vh;

    }



    
    #container_icon_menu > li{
        width: 20%;
        height: 100%;

    }

    #container_icon_menu{

        margin: 50px;
        height: 50%;
        width: 20%;
        list-style: none;
        border-radius: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #icon_menu{
        height: 50px;
        width: 50px;

    }
    #container_icon_menu:active{
        background-color: #bf738b;

    }
    /*///////////////// evento click icono menu////////////////*/


    .container_options.click{
       
        transform: translateY(0);
        
    }


    /*///////////////// /////////////////////////////////*/




    /*///////////////// //////////  primera section  ///////////////////////*/

    .container_text{
        justify-content: center;
    }

    .conteiner_intro{
        overflow: hidden;
        padding: 0%;
        margin: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .conteiner_intro_img > img{
        height: 0px;
    }

    .information {
        margin: 0%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }    
    .information > h1 {
        font-size: 30px;
    }
    .information >  p {
        font-size: 20px;
        width: 90%;      
    }

    .container_emprendedoras{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container_cards_person{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards_person{
        width: 75%;
        margin-top: 5%;
        margin-left: 0px;
    }
    .cards_person > div > img {
        height: 200px;
        width: 200px;
    }


        /*///////////////// //////////  segunda section  ///////////////////////*/



        .container_lineamientos{
            flex-direction: column;
            padding-bottom: 5%;
        }
    
        .container_m_v{
            flex-direction: column;
            width: 100%;
            height: 80%;
        }
        .mision{
            width: 80%;
        }
        .vision{
            margin-top: 5%;
            width: 80%;
        }


        .container_objetivos{
            width: 80vw;
        }
        .container_cards_objetivos{
            width: 100%;
        }



    
}





@media screen and (max-width:768px) {



    .container_nav{
        padding: 2%;
    }



    .conteiner_intro{
        padding: 5%;
        overflow: hidden;
    }

    
    .conteiner_intro_img > img{
        height: 0px;
    }

    .information {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }    
    .information >  p {

        font-size: 20px;
        width: 90%;      
    }

    .cards_person > div > img {
        height: 230px;
        width: 230px;
    }





}